/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/private/upload/Qualification/download.png
public/private/upload/Qualification/intec header.PNG
storage/private/upload/Qualification/intec_logo.png
storage/framework/laravel-excel/laravel-excel-bQU38dXSy0Ip2Rvi2xKRatHKRVuLNUur.tmp
storage/framework/laravel-excel/laravel-excel-BTFcBUaJTmWUwDxiYXeRxA4sgjCLN4Rt.tmp
storage/framework/laravel-excel/laravel-excel-G7FnlQ64xIdY2S7Rlolaqb8BLwfZ1Vk7.tmp
storage/framework/laravel-excel/laravel-excel-LUoHPoDKlF5IqmdzNPfvXaVnW1Grs1fw.tmp
storage/framework/laravel-excel/laravel-excel-nViGxqsq9oIfLNPFZ4NpNjIYZbI2T0iF.tmp
storage/framework/laravel-excel/laravel-excel-ZIW2SpESCFGYFVDbq9mRcODYXhalClKC.tmp
