@media print
{
    body * { visibility: hidden;}
    #non-printable * { visibility: hidden;}
    #printable * { visibility: visible; }
    #printable { 
        position: relative;  
        top: 0pt; 
        left:0pt; 
        right: 0pt; }
}